<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/dramas/new.css" />
<%- include('../partials/nav') %>

<main>
  <body>
  <div class = "background">
    <div class="transparent-box">
  <% if (user) { %>
  <h1><%= title %> <img src="/assets/whale.png" alt="cute whale"></h1>
  <form id="newDrama-form" action="/dramas" method="POST">
    <div>
      <label for="title-input" class="title">Title:</label>
      <div>
        <input type="text" name="title" id="title-input" placeholder="Drama Title" autocomplete="off">
      </div>
    </div>
    <div>
      <label for="language-select" id="language-select" class="title">Language:</label>
      <div>
        <select name="language" id="language">
          <option value="Korean">Korean</option>
          <option value="Chinese">Chinese</option>
          <option value="Japanese">Japanese</option>
          <option value="Taiwanese">Taiwanese</option>
        </select>
        <button class="btn btn-outline-danger btn-sm" type="submit">Add Drama</button>
      </div>
    </div>
  </form>
  </div>
  </div>
</body>
  <% } %>
</main>

<%- include('../partials/footer.ejs') %>