html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: border-box;
  margin: 0%;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffbdc9;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
    margin: 0%;
    background-image: inherit;
}


nav {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-shadow: 0 25px 20px -20px rgba(0,0,0,0.4);
  min-height: 10px;
  max-height: 25px;
}
nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 10px;
  font-size: 20px;
 font-weight: bold;
  text-decoration: none;
  padding: 10px;
  border-radius: 100px;
  color: #f8edeb;
}

nav > a:visited {
  color: #8e9aaf;
}

nav > a:hover {
  color: white;
  background-color: #ffbdc9;
}


main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}
