html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: border-box;
  margin: 0%;
}
:root {
  --serif:'Signika Negative', serif;
  --mono: 'IBM Plex Mono', monospace;
  --cursive: 'Berkshire Swash', cursive;
  --cursive2: 'Covered By Your Grace', cursive;
  --cursive3: 'Sacramento', cursive;
  --cursive4: 'Shadows Into Light', cursive;
}

body {
  height: 100%;
  background: linear-gradient(90deg,#fec89a 50%, #f9dcc4 45%);
  /* Use a system font, if none are available use any found sans-sarif font */
margin: 0%;
font-style: normal;
font-weight: 400;
}


nav {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-shadow: 0 25px 20px -20px rgba(0,0,0,0.4);
  min-height: 10px;
  max-height: 40px;
}
nav > i {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 10px;
  font-size: 25px;
  text-decoration: none;
  font-family: var(--serif);
  font-weight:bold;
  padding: 10px;
  color: black;
  align-items: center;
}

nav > a:visited {
  color: #d44950;
}



main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

nav > button {
  align-self: center;
}