body {
  height: 100%;
  background: linear-gradient(90deg,#fec89a 50% #f9dcc4 45%);
}

h1 {
  font-family: var(--cursive)
}
p {
  font-size:20px;
}

/* ul {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
} */

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #D9304F;
  font-family:var(--serif);
  font-size: 30px;
}

table td {
  padding: 10px;
  text-align: center;
}

form * {
  padding: 5px;
  border-radius: 5px;
}

section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
}

section div:nth-child(even) {
  font-weight: bold;
}

.titles {
  text-decoration: none;
  color: black;
}
.titles:hover {
color:black
}
td > a:hover {
  background-color: #f9dcc4 ;
  text-decoration:none ;
}
a:visited {
  color:#d44950;
}