body {
  height: 100%;
  background: linear-gradient(90deg,#fec89a 50% #f9dcc4 45%);
}

h1 {
  font-family: var(--cursive)
}
p {
  font-size:20px;
}
.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

table {
  font-size: 20px;
  background:rgb(248, 237, 235, 0.6);
  border-radius: 1em;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #D9304F;
  font-family:var(--serif);
  font-size: 30px;
}

table td {
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
}

section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  padding-top: 20px;
}

section div:nth-child(even) {
  font-weight: bold;
}

.titles {
  text-decoration: none;
  color: black;
}
.titles:hover {
color:black
}
td > a:hover {
  background-color: #f9dcc4 ;
  text-decoration: none ;
}
a:visited {
  color:#d44950;
}