body {
  height: 100%;
  background: linear-gradient(90deg, #f9dcc4 50%, #fec89a 45%);
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
}

h2 {
  font-family: var(--cursive2);
  font-size: 40px;
}

div > .title {
  font-family: var(--cursive4)
}
div > .reviewer {
  font-family: var(--cursive4);
  font-size: 20px
}

body > h1 {
  font-family: var(--cursive2);
  font-size: 50px;
  padding-top: 30px;
  padding-left: 40px;
}
.transparent-box {
  background:rgb(254, 200, 154, 0.3);
  margin: 30px;
  border: 1px solid  #d44950;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 400px;
  height: fit-content;
  }

  .ratings{
  background:rgb(254, 200, 154, 0.3);
  margin: 30px;
  border: 1px solid  #d44950;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 400px;
  height: fit-content;
  }

  .ratings > button {
    align-self: center;
    padding: 5,5,5,5;
  }

  .title {
    font-family:var(--cursive4);
    font-size: 30px; 
  }

  .review-cards {
  margin: 30px;
  background:rgb(248, 237, 235, 0.6);
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: fit-content;
  height: fit-content;
  border: 1px solid  #d44950;
  }

  .card-body {
    border-bottom: solid #d44950;
    border-top: #d44950;
  }

ul {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
}

li {
  font-weight: bold;
}

